/* Add Montserrat font to all elements */
* {
  font-family: "Montserrat", Arial, sans-serif;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styles */
header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 40px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  margin-left: 20px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", Arial, sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Montserrat", Arial, sans-serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Main styles */
main {
  margin-top: 0px;
}

#video-section {
  position: relative;
}

@media (max-width: 768px) {
  #video-section {
    padding-top: 60px;
  }
}

.video-logo {
  max-width: 100%;
  width: 80%;
  height: auto;
}

@media (max-width: 768px) {
  .logo-overlay .video-logo {
    width: 60%;
  }
}

#video-section video {
  width: 100%;
  height: auto;
}

.logo-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .logo-overlay {
    top: 40%;
    width: 90vw; /* Adjust this value as needed */
    padding-top: 100px;
  }
}


.logo-overlay img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* About Us section styles */
#about-section {
  padding: 50px;
  background-color: #b0b0b0;
  font-family: "Montserrat", Arial, sans-serif;
}

#about-section h2 {
  text-align: center;
}


#testimonials-section {
  padding: 50px;
  background-color: #9f9f9f5d;
  font-family: "Montserrat", Arial, sans-serif;
}


#testimonials-section h2 {
  text-align: center;
}

.testimonial {
  margin-bottom: 20px;
}

.testimonial p.author {
  text-align: right;
  font-style: italic;
}

/* Footer styles */
footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "Montserrat", Arial, sans-serif;
}
